:root {
    --blue: rgb(198, 223, 246);
    --bg: rgb(176, 119, 28);
    --text: rgba(255, 255, 255, 0.705);


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

/* nav */
.logo {
    display: block;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    z-index: 10;
}

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: var(--bg);
}

.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: var(--blue);
    font-weight: 700;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.trekkspill-box {
    display: none;

}

/* nav-end */

.top,
.top-container,
.main,
.ingredienser,
.fremgang,
.ingred-list,
.steg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding-top: 100px;
}

.gridbox {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
}

.top {
    height: 90vh;
    background-image: url(/prosjekt-pres/media/cookiebg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-container{
    width: 40%;
    gap: 50px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(45deg,rgb(255, 217, 0), var(--bg),rgb(255, 217, 0));
    padding: 60px;
    box-shadow: 7px 7px 20px 5px rgba(198, 223, 246, 0.573);
    border-radius: 0 30% 0 30%;

    font-weight: bolder;
}



@media(width<780px) {
    nav {
        position: relative;
    }

    ul {
        position: absolute;
        left: -2000px;
        display: flex;
        flex-direction: column;
        width: 40%;
        background-color: var(--bg);
        height: 100vh;
        border-radius: 0 0 200px 0;
        justify-content: center;
        align-items: center;
        gap: 150px;
        font-size: 20px;
    }

    .trekkspill-box {
        display: block;
        font-size: 30px;
    }

    .trekkspill-box.active {
        position: fixed;
        top: 10vh;
        left: 25%;

    }

    .x {
        display: none;
    }

    .burger {
        display: block;
        width: 30px;
    }

    .x.active {
        display: block;
        width: 40px;
    }

    .burger.active {
        display: none;
    }

    ul.active {
        left: 0;
        top: 0;
        position: fixed;
    }

    .logo.active {
        position: fixed;
    }
}