:root {
    --blue: rgb(198, 223, 246);
    --bg: rgb(175, 118, 27);
    --text: rgba(255, 255, 255, 0.705);
}




.top,
.top-container,
.main,
.ingred-list,
.steg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding-top: 10vh;
    min-height: 90vh;
    background-color: var(--blue);
}

.gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    min-height: 90vh;
}

.ingredienser,
.fremgang {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: var(--bg);

}

.steps,
.ingred-list {
    display: flex;
    flex-direction: column;
}

.ingred-list {
    align-items: flex-start;
    text-align: left;
    margin-left: 0;
    list-style-position: outside;
    gap: 40px;
}

.steps{
    gap: 57px;
}

.step {
    list-style: numbers;
    color: var(--bg);
}

span{
    color: var(--bg);
}

.ingred {
    color: var(--bg);
    list-style-type: circle;
}

.ingredienser h2,
.fremgang h2 {
    text-decoration: underline;
}

.om2{
    display: none;
}



.top {
    height: 90vh;
    background-image: url(/prosjekt-pres/media/cookiebg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-container {
    width: 40%;
    gap: 50px;
    line-height: 30px;
    text-align: center;
    background: var(--bg);
    padding: 60px;
    box-shadow: 7px 7px 20px 5px rgba(198, 223, 246, 0.573);
    border-radius: 0 30% 0 30%;

    font-weight: bolder;
}



@media(width<780px) {
    body{
        min-height: 100vh;
    }

    nav {
        position: relative;
    }

    ul {
        position: absolute;
        left: -1000px;
        display: flex;
        top: 0;
        flex-direction: column;
        width: 40%;
        background-color: var(--bg);
        height: 100vh;
        border-radius: 0 0 200px 0;
        justify-content: center;
        align-items: center;
        gap: 150px;
        font-size: 20px;

        transition: 1s;
    }

    .trekkspill-box {
        display: block;
        font-size: 30px;
    }

     .trekkspill-box.active {
        position: fixed;
        top: 20px;
        right: 50px;
    } 

    .x {
        display: none;
    }

    .burger {
        display: block;
        width: 30px;
    }

    .x.active {
        display: block;
        width: 40px;
        position: fixed;
        top: 20px;
        right: 10%;
    }

    .burger.active {
        display: none;
    }

    ul.active {
        left: 0;
        top: 0;
        position: fixed;
        height: 100vh;
    }

    .logo.active {
        position: fixed;
    }

    .om{
        display: none;
    }

    .gridbox{
        gap: 40px;
    }

    .om2{
        display: block;
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 20px;
        line-height: 25px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        background-color: var(--bg);
        border-radius: 40px;
    }
}