:root {
    --blue: rgb(198, 223, 246);
    --blue-hvr: rgba(198, 223, 246, 0.623);
    --bg: rgb(175, 118, 27);
    --text: rgba(255, 255, 255, 0.705);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main {
    background-image: url(/prosjekt-pres/media/ckbg.jpg);
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.gamebox{
    height: 90vh;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.cookie-click{
    width: 70%;
}

.gamebox h2{
    background-color: var(--bg);
    padding: 30px;
    width: 70%;
    text-align: center;
    border-radius: 30px;
}

#shop{
    width: 50%;
    height: 60px;
    border-radius: 15px;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

#shop:hover{
    background-color: var(--blue-hvr);
    transition: 0.3s;
    border: 2px solid green;
}

.shopbox{
    display: none;
}

.shopbox.active{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    padding: 30px;
    background-color: rgba(130, 41, 41, 0.652);
}

.x-shop{
    width: 40px;
}

#oppgrader{
    width: 80%;
    height: 50px;
    background-color: var(--blue);
    font-weight: bolder;
    letter-spacing: 2px;
}

.gamebox.active{
    display: none;
}

.info{
    display: none;
}

.info.active{
    display: block;
    padding-top: 20vh;
}


@media(width < 780px){
    #shop{
        font-size: 100%;
    }
}